
@{
    ViewBag.Title = "Monthwise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Monthwise</h2>*@




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <!-- general form elements -->
    <div class="card card-primary mt-2">
        <div class="card-header">
            <h3 class="card-title">Monthwise Report</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form>
            <div class="card-body">
                <div class="row">

                    @*///Start////*@
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Year</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">2022</option>
                                <option>2018</option>
                                <option>2019</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Months</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">January</option>
                                <option>January</option>
                                <option>February</option>
                                <option>March</option>
                                <option>April</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>August</option>
                                <option>September</option>
                                <option>Octomber</option>
                                <option>November</option>
                                <option>December</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Devision</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">MEP_003</option>
                                <option>Infra_006</option>
                                <option>Building_004</option>
                                <option>Oil&Gas_007</option>
                                <option>E&I_008</option>
                                <option>GFM_009</option>
                                <option>Corporate_005</option>
                                <option>Plant_002</option>
                                <option>MEP_003</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Job #</label>
                            <select class="form-control select2" style="width: 100%;">
                                <option selected="selected">330100</option>
                                @*<option>440100</option>*@
                            <option>330200</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-2 mt-md-5">
                        <div class="form-check ">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Galfar</label>
                        </div>
                    </div>
                    <div class="col-md-2 mt-md-5">
                        <div class="form-check ">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">JV</label>
                        </div>
                    </div>
                    <div class="col-md-2 mt-md-5">
                        <div class="form-check ">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Anticipated</label>
                        </div>
                    </div>
                    <div class="col-md-2 mt-md-5">
                        <button type="submit" class="btn btn-primary">Show Reports</button>

                    </div>


                </div>

                @*<div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Upload</span>
                            </div>
                        </div>
                    </div>*@

            </div>
            <!-- /.card-body -->

        </form>
    </div> <!-- /.card -->


    <!--<div class="card  mt-2">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <p>
                        Business Plan Report for :  Building_004

                    </p>
                </div>
                <div class="col-3">
                    <p>
                        For Year :	2022

                    </p>
                </div>
                <div class="col-3">
                    <p>
                        Month:    JANUARY

                    </p>
                </div>

            </div>


        </div>-->
        <!-- /.card-header -->
        <!--<table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>JOB</th>
                    <th>Division</th>
                    <th>Plan</th>
                    <th>Plan %</th>
                    <th>Actual</th>
                    <th>Actual %</th>
                    <th>Variation</th>
                    <th>Variation %</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>330100</td>
                    <td>MEP</td>
                    <td>10000</td>
                    <td>3.09</td>
                    <td>7000</td>
                    <td>2.73</td>
                    <td>3000</td>
                    <td>4.44</td>
                    <td>Income</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>

                    <td>330200</td>
                    <td>MEP </td>
                    <td>25000</td>
                    <td>7.72</td>
                    <td>20000</td>
                    <td>7.80</td>
                    <td>5000</td>
                    <td>7.41</td>
                    <td>Income</td>
                    <td><input type="checkbox" /></td>
                </tr>

                <tr>

                    <td>440100</td>
                    <td>
                        Building
                    </td>
                    <td>15000</td>
                    <td>4.63</td>
                    <td>9000</td>
                    <td>3.51</td>
                    <td>6000</td>
                    <td>8.89</td>
                    <td>Income</td>
                    <td><input type="checkbox" /></td>
                </tr>

                <tr>

                    <td>440200</td>
                    <td>Building</td>
                    <td>10000</td>
                    <td>3.09</td>
                    <td>8000</td>
                    <td>3.12</td>
                    <td>2000</td>
                    <td>2.96</td>
                    <td>Income</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>664400</td>
                    <td>Infra</td>
                    <td>21000</td>
                    <td>6.48</td>
                    <td>20000</td>
                    <td>7.80</td>
                    <td>1000</td>
                    <td>1.48</td>
                    <td>Income</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>


                    <td>664800</td>
                    <td>Infra</td>
                    <td>14000</td>
                    <td>4.32</td>
                    <td>13000</td>
                    <td>5.07</td>
                    <td>1000</td>
                    <td>1.48</td>
                    <td>Income</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>


                    <td>777500</td>
                    <td>Oil & Gas</td>
                    <td>50000</td>
                    <td>15.43</td>
                    <td>35000</td>
                    <td>13.65</td>
                    <td>15000</td>
                    <td>22.22</td>
                    <td>Income</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>


                    <td>777800</td>
                    <td>Oil & Gas</td>
                    <td>75000</td>
                    <td>23.15</td>
                    <td>60000</td>
                    <td>23.39</td>
                    <td>15000</td>
                    <td>22.22</td>
                    <td>Income</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>

                    <td>888100</td>
                    <td>E & I</td>
                    <td>31000</td>
                    <td>9.57</td>
                    <td>25000</td>
                    <td>9.75</td>
                    <td>6000</td>
                    <td>8.89</td>
                    <td>Income</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>


                    <td>888200</td>
                    <td>E & I</td>
                    <td>23000</td>
                    <td>7.10</td>
                    <td>22000</td>
                    <td>8.58</td>
                    <td>1000</td>
                    <td>1.48</td>
                    <td>Income</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>990100</td>
                    <td>GFM</td>
                    <td>16000</td>
                    <td>4.94</td>
                    <td>10000</td>
                    <td>3.90</td>
                    <td>6000</td>
                    <td>8.89</td>
                    <td>Income</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>990200</td>
                    <td>GFM</td>
                    <td>19000</td>
                    <td>5.86</td>
                    <td>16000</td>
                    <td>6.24</td>
                    <td>3000</td>
                    <td>4.44</td>
                    <td>Income</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>501</td>
                    <td>Corporate</td>
                    <td>2000</td>
                    <td>0.62</td>
                    <td>1000</td>
                    <td>0.39</td>
                    <td>1000</td>
                    <td>1.48</td>
                    <td>Income</td>
                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>502</td>
                    <td>Corporate</td>
                    <td>3000</td>
                    <td>0.93</td>
                    <td>-1500</td>
                    <td>-0.58</td>
                    <td>4500</td>
                    <td>6.67</td>
                    <td>Income</td>

                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>200</td>
                    <td>Plant</td>
                    <td>6000</td>
                    <td>1.85</td>
                    <td>9000</td>
                    <td>3.51</td>
                    <td>-3000</td>
                    <td>-4.44</td>
                    <td>Income</td>

                    <td><input type="checkbox" /></td>
                </tr>
                <tr>
                    <td>201</td>
                    <td>Plant</td>
                    <td>4000</td>
                    <td>1.23</td>
                    <td>3000</td>
                    <td>1.17</td>
                    <td>1000</td>
                    <td>1.48</td>
                    <td>Income</td>


                    <td><input type="checkbox" /></td>
                </tr>


            </tbody>-->
            <!--<tfoot>
                <tr>
                    <th>Sub Total</th>
                    <th>224,708,314.06</th>
                    <th>191,512,849.37</th>
                    <th>0.00</th>
                    <th>0.00</th>
                    <th>191,512,849.37</th>
                    <th>31,810,767.57</th>
                    <th></th>-->
            @*<th>Rendering engine</th>
                <th>Browser</th>
                <th>Platform(s)</th>
                <th>Engine version</th>
                <th>CSS grade</th>*@
            <!--</tr>
            </tfoot>-->
        @*</table>
    </div>*@ <!-- /.card -->


    @*<div class="form-horizontal">
            <h4>RouteConfig</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>*@
}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
