@model BusinessApplication.ViewModels.MultipleVM

@{

    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!DOCTYPE html>

<html>
<head>
    <title>Access Denied</title>
    
</head>
<body>
    @*<div class="">
            <img src="~/Frontend/Media/Access Denied.png" />
        </div>*@

    <div class="content-wrapper">
        
        <!-- Main content -->
        <div class="content">
            

                <h2 class=" text-danger"><i class="fas fa-lock"></i> Access denied to user, Contact Administrator.</h2>

              
               
            <!-- /.error-page -->
        </div>
        <!-- /.content -->
    </div>

</body>
</html>
